@{
    ViewData["Title"] = "About Me";
}

<div class="card rounded m-4 ">
    <div class="card-body row">

        @* Title *@
        <h4 class="card-title">Who am I?</h4>
        <div class="card-text col">
            <div class="list-group">

                @* Introduction *@
                <div class="list-group-item">
                    Introduction
                </div>
                <div class="list-group-item pb-4">
                    Hello!<br />
                    My name is Fredrik Levai Jansson and I’m a programmer who has completed my education at
                    <a title="One of Swedens largest Skills developers" class="text-decoration-none link-info">Lexicon</a> in Linköping,
                    with a focus on <a title="Programming Languages" class="text-decoration-none link-info"> C# / .NET.</a><br />
                    I’m someone who enjoys structure and likes being challenged, 
                    which is why I prefer working mostly with <a title="Coding logic and queries, and working with databases" class="text-decoration-none link-info">backend development.</a><br />
                    I see myself as a cheerful and humorous person, often sharing a smile or a laugh! :)<br />
                    I currently live in Norrköping with my partner, whom I’ve been with since December 2013.<br />
                    Before I began studying to become a programmer, I was a trained chef
                    and worked both at <a title="Biggest Zoo in the Nordic Countries" class="text-decoration-none link-info">Kolmårdens Djurpark</a> as a chef in their <a title="Restaurang Hyllan" class="text-decoration-none link-info">
                    buffet restaurant</a>, and before that at 
                    <a title="Hospital in Norrköping" class="text-decoration-none link-info">Vrinnevisjukhuset</a> where I prepared meals for both the patients and the lunch restaurant.
                </div>
            </div>
        </div>
        <div class="card-text col">

            @* Education *@
            <div class="list-group">
                <div class="list-group-item">
                    Education and Work Experiences
                </div>
                <div class="list-group-item pb-4">
                    <ul>
                        <li>I studied Programming at <a title="Lexicon: One of Swedens largest Skills developers" class="text-decoration-none link-info">Lexicon Linköping</a></li>
                        <li>I studied to become a chef at <a title="The Schools that I attended for my education" class="text-decoration-none link-info">Lernia & Astar</a>.</li>
                        <li>I studied IT in Highschool at <a title="Johnbauser Gymnasiet does no longer exist in Norrköping" class="text-decoration-none link-info">Johnbauer Gymnasiet</a>.</li>
                    </ul>
                    <ul>
                        <li>I worked as a chef at <a title="Biggest Zoo in the Nordic Countries" class="text-decoration-none link-info">Kolmårdens Djurpark</a>.</li>
                        <li>I worked as a chef at <a title="Hospital in Norrköping" class="text-decoration-none link-info">Vrinnevisjukhuset</a>.</li>
                    </ul>
                    <ul>
                        <li>I've had internship as a baker at <a title="Bakery that no longer exist sadly" class="text-decoration-none link-info">Sockerbagarnas</a>.</li>
                        <li>I've had internship as a chef at <a title="A school in a suburb called Åby north fom Norrköping" class="text-decoration-none link-info">Åbymo Skolan</a>.</li>
                        <li>I've had internship as a chef at <a title="A pre-school in Norrköping" class="text-decoration-none link-info">Förskola Berlocken</a>.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row m-2"></div>
        <div class="card-text col">

            @* Interests *@
            <div class="list-group">
                <div class="list-group-item">
                    Interests
                </div>
                <div class="list-group-item">
                    I've always had a strong interest in gaming and remember when I was a child plaing Super Mario Bros. 
                    for the <a title="Nintendo Entertainment System" class="text-decoration-none link-info">NES</a> for the first time in the early to mid 90s.<br />
                    Now however I am mostly playing PC Games like <a title="An online role playing game" class="text-decoration-none link-info">World of Warcraft</a>,
                    <a title="Extremely laidback and fun farming RPG" class="text-decoration-none link-info">Stardew Valley</a> 
                    and <a title="Action RPG Made by Grinding Gear Games" class="text-decoration-none link-info">Path of Exile</a>.<br />
                    Other hobbies I enjoy consist of Cooking. Despite having worked with food most of my worklike, 
                    I still do enjoy cooking for and entertaining guests.<br />
                    I also enjoy Reading <a title="Japanese Comics" class="text-decoration-none link-info">Manga</a>, especially when commuting, great way to make the commute go a little faster.
                </div>
            </div>
        </div>
        <div class="card-text col">

            @* Finishing Words *@
            <div class="list-group">
                <div class="list-group-item">
                    Finishing Words
                </div>
                <div class="list-group-item">
                    Thank you for taking an interest and reading about myself!<br />
                    See you on the flip side!
                </div>
            </div>
        </div>
    </div>
</div>