@{
    ViewData["Title"] = "About Me";
}

<div class="card rounded m-4 ">
    <div class="card-body row">

        @* Title *@
        <h4 class="card-title">Vem är jag?</h4>
        <div class="card-text col">
            <div class="list-group">

                @* Introduction *@
                <div class="list-group-item">
                    Introduktion
                </div>
                <div class="list-group-item pb-4">
                    Hej!<br />
                    Mitt namn är Fredrik Levai Jansson och jag är en programmerare som gått klart min utbildning hos  
                    <a title="En av Sveriges största kompetensutvecklare" class="text-decoration-none link-info">Lexicon</a> i Linköping, 
                    med fokus på <a title="Programmeringsspråk" class="text-decoration-none link-info"> C# / .NET.</a>
                    <br />
                    Jag är en person som gillar struktur och gillar att bli utmanad, 
                    vilket är anledningen till att jag mest tycker om att arbeta inom 
                    <a title="Kodning av logik och frågor samt arbete med databaser" class="text-decoration-none link-info">backend</a>.
                    <br />
                    Jag ser mig själv som en glad och humoristisk person, som ofta bjuder på ett leende eller ett skratt! :)
                    <br />
                    Jag bor för närvarande i Norrköping, där jag bor med min sambo som jag har varit tillsammans med sedan December 2013.
                    <br />
                    Innan jag började plugga till programmerare var jag utbildad kock, och jobbade både på 
                    <a title="Nordens största djurpark" class="text-decoration-none link-info">Kolmårdens Djurpark</a> 
                    som kock på deras <a title="Restaurang Hyllan" class="text-decoration-none link-info">
                    bufférestaurang</a> och innan dess jobbade jag på
                    <a title="Lasarettet i Norrköping" class="text-decoration-none link-info">Vrinnevisjukhuset</a> 
                    som kock med att laga mat till både patienterna och deras lunchrestaurang.
                </div>
            </div>
        </div>
        <div class="card-text col">

            @* Education *@
            <div class="list-group">
                <div class="list-group-item">
                    Utbildning och Arbetserfarenhet
                </div>
                <div class="list-group-item pb-4">
                    <ul>
                        <li>Jag har gått programmeringsutbildning hos <a title="Lexicon: En av Sveriges största kompetensutvecklare" class="text-decoration-none link-info">Lexicon Linköping</a></li>
                        <li>Jag har gått kockutbildning hos <a title="Skolorna jag gick till under utbildningen" class="text-decoration-none link-info">Lernia & Astar</a>.</li>
                        <li>Jag gick IT-Linjen på <a title="Johnbauser Gymnasiet finns ej kvar i Norrköping" class="text-decoration-none link-info">Johnbauer Gymnasiet</a>.</li>
                    </ul>
                    <ul>
                        <li>Jag har arbetat som kock på <a title="Nordens största djurpark" class="text-decoration-none link-info">Kolmårdens Djurpark</a>.</li>
                        <li>Jag har arbetat som kock på <a title="Lasarettet i Norrköping" class="text-decoration-none link-info">Vrinnevisjukhuset</a>.</li>
                    </ul>
                    <ul>
                        <li>Jag har haft LIA som utvecklare hos <a title="Moderbolaget för min utbildning" class="text-decoration-none link-info">DM Solutions</a>.</li>
                        <li>Jag har haft praktik som kock hos <a title="En skola i Åby norr om Norrköping" class="text-decoration-none link-info">Åbymo Skolan</a>.</li>
                        <li>Jag har haft praktik som kock hos <a title="En förskola i Vrinneviområdet i Norrköping" class="text-decoration-none link-info">Förskola Berlocken</a>.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row m-2"></div>
        <div class="card-text col">

            @* Interests *@
            <div class="list-group">
                <div class="list-group-item">
                    Intressen
                </div>
                <div class="list-group-item">
                    Jag har alltid haft ett stark intresse för spel och minns när man var liten och fick köra Super Mario Bros. till 
                    <a title="Nintendo Entertainment System" class="text-decoration-none link-info">NES</a> för första gången i början till mitten av 90-talet.
                    <br />
                    Nu spelar jag dock mest PC-spel som 
                    <a title="Ett online rollspel" class="text-decoration-none link-info">World of Warcraft</a>, 
                    <a title="Ett riktigt kul och avslappnande farm-rollspel" class="text-decoration-none link-info">Stardew Valley</a> och 
                    <a title="Ett Action Rollspel gjort av Grinding Gear Games" class="text-decoration-none link-info">Path of Exile</a>.
                    <br />
                    Andra hobbies jag tycker om består av matlagning. Trots att jag har arbetat med mat mest av mitt arbetsliv, 
                    tycker jag fortfarande om att laga mat för och underhålla gäster.
                    <br />
                    Jag tycker också om att läsa 
                    <a title="Japanska serietidningar" class="text-decoration-none link-info">Manga</a>, 
                    särskilt när jag pendlar, ett bra sätt att få pendlingen att gå lite snabbare.
                </div>
            </div>
        </div>
        <div class="card-text col">

            @* Finishing Words *@
            <div class="list-group">
                <div class="list-group-item">
                    Avslutande Ord
                </div>
                <div class="list-group-item">
                    Tack för att du visade intresse och läste om mig själv!<br />
                    Vi ses på andra sidan!
                </div>
            </div>
        </div>
    </div>
</div>