@{
    ViewData["Title"] = "CV";
}

<div class="card rounded m-4 ">
    <div class="card-body row">

        @* Title *@
        <h4 class="card-title">CV - Fredrik Levai Jansson</h4>
        <div class="card-text col">
            <div class="list-group">

                @* Introduction *@
                <div class="list-group-item">
                    Introduction
                </div>
                <div class="list-group-item pb-4">
                    @* Ny utbildad Programmerare med
                    fokus inom C# och .NET.
                    Har tidigare jobbat som kock, men
                    ville vidga vyerna och tog chansen
                    att utbilda mig som programmerare
                    när jag fick chansen. Jag känner att
                    det passar mig väldigt bra i och med
                    mitt stora IT intresse. *@
                    Newly trained Programmer with
                    focus in C# and .NET.
                    Has previously worked as a chef, but
                    Wanted to broaden the horizons and took the chance
                    To train as a programmer
                    when I got the chance. I feel that
                    It suits me very well as
                    my great interest in IT.
                    <br />
                    <br />
                    @* Jag har främst kodat inom backend.
                    Främst med pråk som MSSQL, ASP.NET, JS, jQuery, HTML, Bootstrap.
                    Har en GitHub med tidigare projekt vi jobbat med under min utbildning här under. *@
                    I have mainly coded within the backend, but also done some frontend coding and also some wireframe work in Miro.<br />
                    Languages I have experience with include; MSSQL, ASP.NET, JS, jQuery, HTML, Bootstrap.<br />
                    I have a GitHub with previous projects I've worked on both solo and in teams below.

                </div>
            </div>
        </div>
        <div class="card-text col">

            @* Employment *@
            <ul class="list-group">
                <li class="list-group-item">
                    Employment
                </li>
                <li class="list-group-item">
                    <ol>
                        <li class="list-group-numbered">
                            Kolmårdens Djurpark - 2023 04 > 2023 11
                        </li>
                        <li class="list-group-numbered ps-4">
                            Worked as a chef in their buffé restaurant during the whole season of 2023.<br /><br />
                        </li>
                    </ol>
                </li>
                <li class="list-group-item">
                    <ol>
                        <li class="list-group-numbered">
                            Vrinnevi Sjukhuset Norrköping - 2018 > 2022
                        </li>
                        <li class="list-group-numbered ps-4">
                            Worked as a chef in the central kitchen for the hospital.
                            <br />
                            Made food for both the patients and the hospitals lunch restaurant.
                            <br />
                            Also did some work in the special kitchen for consistency-adjusted foods and allergies.
                            <br />
                            <br />
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
        <div class="row m-2"></div>
        <div class="card-text col">

            @* Contact Information *@
            <ul class="list-group">
                <li class="list-group-item">
                    Contact Information
                </li>
                <li class="list-group-item">
                    <ol>
                        <li class="list-group-numbered">
                            Email
                        </li>
                        <li class="list-group-numbered ps-4">
                            <a class="link-info" href="mailto:freddelj@bahnhof.se">freddelj@bahnhof.se</a>
                        </li>
                    </ol>
                </li>
                <li class="list-group-item">
                    <ol>
                        <li class="list-group-numbered">
                            Links
                        </li>
                        <li class="list-group-numbered ps-4">
                            <a class="link-info" href="https://www.linkedin.com/in/fredrik-levai-jansson-954197301/">LinkedIn</a>
                            <br />
                            <br />
                            <a class="link-info" href="https://github.com/Vubbs">GitHub</a>
                            <br />
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
        <div class="card-text col">

            @* Education *@
            <ul class="list-group">
                <li class="list-group-item">
                    Education
                </li>
                <li class="list-group-item">
                    <ol>
                        <li class="list-group-numbered">
                            Programming - 2024 08 17 > 2025
                        </li>
                        <li class="list-group-numbered ps-4">
                            Lexicon
                            <br />
                            C#, HTML, CSS, Bootstrap, Javascript, jQuery, .NET
                        </li>
                    </ol>
                </li>
                <li class="list-group-item">
                    <ol>
                        <li class="list-group-numbered">
                            Chef Education - 2015 > 2017
                        </li>
                        <li class="list-group-numbered ps-4">
                            Lernia / Astar
                            <br />
                            Cooking, Hygiene, Plating, Base Recipes, Baking etc.
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="float-start">
    <a href="~/media/files/cv_fredrik_lj.pdf" class="btn btn-info ms-5">Download PDF</a>
</div>
@* <div class="float-end">
    <button class="btn btn-info me-5">Swedish</button>
</div> *@
@* TODO
    * ADD Link to CV
    * ADD Language toggle switch
*@
            