@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Portfolio for <a asp-action="CV">Fredrik Levai Jansson</a>.</p>
    <img src="~/media/images/code_image_stock.png" class="rounded-3 border border-2 border-black" />
</div>
