@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center mt-5">
    <h4 class="text-white">Portfolio for Fredrik Levai Jansson.</h4>
    <img src="~/media/images/coding_image_small.jpg" class="rounded-3 border border-2 border-black opacity-75" />
</div>