@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center">
    <h4 class="text-white">Portfölj för Fredrik Levai Jansson.</h4>
    <img src="~/media/images/code_image_stock.png" class="rounded-3 border border-2 border-black" />
</div>
