@{
    ViewData["Title"] = "Projects";
}

<div class="card rounded m-4 ">
    <div class="card-body row">

        @* Title *@
        <h4 class="card-title">Projekt - <a href="https://github.com/Vubbs">GitHub</a></h4><hr />
        <div class="card-text col-lg">
            <div class="list-group">

                @* Project 1 *@
                <div class="list-group-item">
                    <a href="https://github.com/Vubbs/NewsWebsiteProject">Nyhetssida</a><span class="text-muted">  - Grupp Projekt<small class="float-end">(ASP.NET,MSSQL,jQuery,Bootstrap,Azure,Stripe)</small></span>
                </div>
                <div class="list-group-item">
                    <div id="newswebsite" class="carousel slide" data-bs-ride="carousel">

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#newswebsite" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#newswebsite" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#newswebsite" data-bs-slide-to="2"></button>
                        </div>
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="https://github.com/Vubbs/NewsWebsiteProject"><img src="~/media/images/news_website_frontpage.png" alt="Nyhetssida Förstasida" class="d-block" style="width:100%; height:250px"></a>
                            </div>
                            <div class="carousel-item">
                                <a href="https://github.com/Vubbs/NewsWebsiteProject"><img src="~/media/images/news_website_subscription.png" alt="Nyhetssida Abonnemangssida" class="d-block" style="width:100%; height:250px"></a>
                            </div>
                            <div class="carousel-item">
                                <a href="https://github.com/Vubbs/NewsWebsiteProject"><img src="~/media/images/news_website_code.png" alt="Nyhetssida Kod" class="d-block" style="width:100%; height:250px"></a>
                            </div>
                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#newswebsite" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#newswebsite" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="card-text col-lg">

            @* Project 2 *@
            <div class="list-group">
                <div class="list-group-item">
                    <a href="https://github.com/Vubbs/MovieWebshopProject">Film Webshop</a><span class="text-muted">  - Solo Projekt<small class="float-end">(ASP.NET,MSSQL,jQuery,Bootstrap)</small></span>
                </div>
                <div class="list-group-item">
                    <div id="movieshop" class="carousel slide" data-bs-ride="carousel">

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#movieshop" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#movieshop" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#movieshop" data-bs-slide-to="2"></button>
                        </div>
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="https://github.com/Vubbs/MovieWebshopProject"><img src="~/media/images/movieshop_shoppingcart.png" alt="Movieshop Kundvagn" class="d-block" style="width:100%; height:250px"></a>
                            </div>
                            <div class="carousel-item">
                                <a href="https://github.com/Vubbs/MovieWebshopProject"><img src="~/media/images/movieshop_movies.png" alt="Movieshop Filmlista" class="d-block" style="width:100%; height:250px"></a>
                            </div>
                            <div class="carousel-item">
                                <a href="https://github.com/Vubbs/MovieWebshopProject"><img src="~/media/images/movieshop_code.png" alt="Movieshop Kod" class="d-block" style="width:100%; height:250px"></a>
                            </div>
                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#movieshop" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#movieshop" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-2"></div>
        <div class="card-text col-lg">

            @* Project 3 *@
            <div class="list-group">
                <div class="list-group-item">
                    <a href="https://github.com/Vubbs/ArenaFighterAssignment">Arena Fighter</a><span class="text-muted">  - Solo<small class="float-end">(C# - Console App)</small></span>
                </div>
                <div class="list-group-item">
                    <div id="arenafighter" class="carousel slide" data-bs-ride="carousel">

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#arenafighter" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#arenafighter" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#arenafighter" data-bs-slide-to="2"></button>
                        </div>
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="https://github.com/Vubbs/ArenaFighterAssignment"><img src="~/media/images/arenafighter_charactercreation.png" alt="Arena Fighter Karaktärskapning" class="d-block" style="width:100%; height:250px"></a>
                            </div>
                            <div class="carousel-item">
                                <a href="https://github.com/Vubbs/ArenaFighterAssignment"><img src="~/media/images/arenafighter_fight.png" alt="Arena Fighter" class="d-block" style="width:100%; height:250px"></a>
                            </div>
                            <div class="carousel-item">
                                <a href="https://github.com/Vubbs/ArenaFighterAssignment"><img src="~/media/images/arenafighter_code.png" alt="Arena Fighter Kod" class="d-block" style="width:100%; height:250px"></a>
                            </div>
                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#arenafighter" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#arenafighter" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-text col-lg">

            @* Project 4 *@
            <div class="list-group">
                <div class="list-group-item">
                    <a href="https://github.com/Vubbs/ResizeImageFunction">Ändra storlek på bild Azure-funktion</a>><span class="text-muted">  - Solo<small class="float-end">(.NET - Azure Function)</small></span>
                </div>
                <div class="list-group-item">
                    <div id="resizeimage" class="carousel slide" data-bs-ride="carousel">

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#resizeimage" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#resizeimage" data-bs-slide-to="1"></button>
                        </div>
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="https://github.com/Vubbs/ResizeImageFunction"><img src="~/media/images/resizeimage_app.png" alt="Fungerande App" class="d-block" style="width:100%; height:250px"></a>
                            </div>
                            <div class="carousel-item">
                                <a href="https://github.com/Vubbs/ResizeImageFunction"><img src="~/media/images/resizeimage_code.png" alt="App Kod" class="d-block" style="width:100%; height:250px"></a>
                            </div>

                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#resizeimage" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#resizeimage" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

